ul {
    counter-reset: section;
    list-style: none;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    color: blue;
  }
  
  li {
    margin: 10px;
    line-height: 40px;
  }
  
  li:before {
    content: counter(section);
    counter-increment: section;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 20px 0 0;
    border: 1px none #ccc;
    border-radius: 100%;
    text-align: center;
    background-color: rgb(239, 228, 228);
  }

  .firstline{
    border: 5px none black;
    border-radius: 5px;
  }
  
  .circle-color-lightgreen::before {
    background-color: rgb(0, 255, 128);
    color:white;
    
  }

  .circle-color-blue::before {
    background-color: rgb(38, 0, 255);
    color:white;
}

.circle-color-white::before {
  background-color: white;
  color:blue;
}


  .circle-color-lightgreen{
    color:  rgb(10, 190, 100);
  }

  .circle-color-blue{
    color: rgb(38, 0, 255);
  }

  .circle-color-white::before{
    background-color: azure;
  }

  .circle-color-white{
    color: black;
  }

  .breakfast-wrapper{
    display: flex;
    justify-content: space-between;
    
  }

  .lunch-wrapper{
    display: flex;
    justify-content: space-between;
  }

  .dinner-wrapper{
    display: flex;
    justify-content: space-between;
  }

  .checkbox-controler{
    margin-top: 10px;
  }

  .btn-controler{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  select{
    padding: 10px;
    border-radius: 5px;
  }

  button{
    padding: 10px;
    border-radius: 5px;
  }

  .breakfast{
    width: 1000px ;
  }

  .breakfast-drink{
    width: 400px;
  }

  .lunch{
    width: 900px;
  }

  .lunch-drink{
    width: 400px;
  }

  .dinner{
    width: 900px;
  }

  .dinner-drink{
    width: 400px;
  }
  
  .continue-btn{
    background-color: blue;
    color: white;
  }
  
  a{
    color: white;
  }

  .firstline{
    background-color: rgb(206, 204, 204);
  }
  
  input[type='checkbox'] {
    accent-color: blue;
    background-color: blue;
    height: 22px;
    width: 22px
}
  

  